{% extends 'base.html' %}

{% block title%}

contact
{% endblock %}

{% block content%}

<div style="text-align: center; padding-top: 40px;">
 <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: rgb(49, 49, 221); padding-bottom: 0px; letter-spacing: 2px;">Let Us Help You</p>
 <h3 style="font-family:Georgia, 'Times New Roman', Times, serif ;">Have Queries Before The <br>
Appoinment?</h3>
  
</div>

<br>


<div>
    <h5 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Ph:07034136933<br>cityhospital@gmail.com</h5>
</div>








<div class="selo">
    <h3 style="font-family: 'Times New Roman', Times, serif; padding-left: 30px; color: gray;">City Hospital<hr></h3>
    
    <h6 style="letter-spacing: 1.5PX; padding-left: 300PX; padding-top: 50PX; font-family: 'Times New Roman', Times, serif;">QUICK LINKS</h6>
    <div style=" padding-left: 310PX;color: gray; font-family: 'Times New Roman', Times, serif; text-decoration: none;"><a style="text-decoration: none;color: gray;
    " href="{% url 'about'%}"><p>> &nbsp;About</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'booking'%}"><p>> &nbsp;Booking</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'doctors'%}"><p>> &nbsp;Doctors</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'department'%}"><p>> &nbsp;Departments</p></a>
    <a style="text-decoration: none;color: gray;
    " href="{% url 'contact'%}"><p>> &nbsp;Contact Us</p></a>

<div style="padding-left: 350px;margin-top: -240px;">
  <h5 style="color: black; font-size: 16PX;">ABOUT US</h5>
  <div style="padding-left: 10px; padding-right: 170px;">
  <p>~ Mission & Vision: Highlight the hospital's commitment to providing high-quality, compassionate care and advancing healthcare in the community.</p>
  <p>~ History: A brief history of the hospital, its founding, and milestones.</p>
  <p>~ Emergency Care: 24/7 emergency department with a highly trained staff and state-of-the-art medical equipment.</p>
  <p>~ Maternity & Women's Health: Expert obstetrics and gynecology services, prenatal care, and birthing options.</p>
</div>
</div>
    </div>
    
    


<div class="container" style="padding-bottom: 200px; padding-left: 600px; padding-top: 20px;" > 
  <img src="https://seekvectors.com/files/download/a9c0d3e9f66ecc43eb9103202e2a1347.jpg" width="16px">
  <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-06-512.png" width="20px">
  <img src="https://static.vecteezy.com/system/resources/previews/018/910/719/non_2x/facebook-logo-facebook-icon-free-free-vector.jpg" width="23px">
</div>


{% endblock %}