{% extends 'base.html' %}


{% block title%}
home
{% endblock %}

{% block content%}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sid">
  <ul>
    <div id="sidebar" class="sidebar">
    <li>
      <a href="" class="close-btn" onclick="closeSidebar()">x</a>
    </li>
    
    <li class="nav-item active">
      <a class="nav-link text-white" href="{% url 'home'%}">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'about'%}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'booking'%}">Booking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'doctors'%}">Doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'department'%}">Departments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'contact'%}">Contact Us</a>
    </li>
  
    <button id="open-btn" onclick="openSidebar()"><i class="material-icons">&#xe5d2;</i></button>
  </ul>
</div>
</div>

</div>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="header-two">
      <p style="font-size: 14PX; letter-spacing: 2PX; color: gray;">TOTAL HEALTH CARE SOLUTION</p>
      <h1 style="font-size: 60px; font-family: 'Times New Roman', Times, serif;"><strong>Y</strong>our Most Trusted <br>Health Partner</h1>
      <p style="color: cadetblue;font-size: 10px;">A hospital is a place where doctors and nurses work tirelessly to save lives<br>
         but it's the human connection that makes all the difference</p>
      <br>
      
      </div>
      <div class="appoi">
        <a href="{% url 'booking'%}">
          <button class="btn make-appointment-btn" type="button">
            MAKE &nbsp; APPOINTMENT &nbsp;>
          </button>
        </a>
      </div>

    <div class="emer" style="background-color:white;position: absolute;top: 85%;left: 72%;
        transform: translateX(-50%);z-index: 1;padding: 20px; padding-right: 140px;border-radius: 4%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        ">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5G_lXK5cROdWBjbkK6h3rghuHW1pcfFwDfg&s" width=
         "25px"><p style="color: gray;font-family: 'Times New Roman', Times, serif;"><br>Emegency Cases<br>
          <strong style="color: blue;">0703-413-6933</strong></p>
      </div>




    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static '/images/slider-bg-1.jpg' %}" class="d-block w-100" alt="..." height="600px">
        
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static '/images/22.jpg' %}" class="d-block w-100" alt="..." height="600px">
        
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/car3.jpg' %}" class="d-block w-100" alt="..." height="600px">
        
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <div class="three">
    <div class="elementor-widget-wrap elementor-element-populated">
        <p style="font-weight: 400; color: blue;">@ City Hospital</p>
        <div class="ani">
        <h1 style="letter-spacing: .2px; font-family:'Times New Roman', Times, serif; color: rgb(9, 86, 59);font-weight: 1000;">Best Medical And
        Health Care<span> Center
        in Malappuram</span>
        </h1></div>
        <p style="font-size: 12px; color: gray;">founded in 2025 with an aim to promote wellness and provide healthcare for
            all with the best kinds of services and is successfully achieving milstones ever since.City hospitals often
             play a critical role in the community, offering both outpatient and inpatient services. In addition, they may be
              affiliated with universities or medical schools, providing education and training to future healthcare professionals. 
              Depending on the size and location,
             they can range from smaller district hospitals to large, state-of-the-art institutions.A city hospital is
              typically a healthcare facility located within an urban area, providing a wide range of medical services
               to residents of the city and surrounding regions. These hospitals often serve as major healthcare centers,
                offering emergency care, specialized treatments, surgeries, maternity services, and diagnostic tests.
                 They are usually well-equipped with modern technology and staffed by a diverse team of doctors, nurses,
                  and medical specialists to cater to various health needs.A hospital is a healthcare facility that provides 
                  treatment, care, and medical services to individuals who are ill, injured, or in need of medical attention. 
                  It is equipped with various medical departments and specialized staff, including doctors, nurses, and support 
                  staff, to ensure patients receive the necessary care. Hospitals typically offer emergency services, surgical
                   procedures, diagnostic tests, and inpatient or outpatient care. They play a vital role in public 
                  health by treating conditions, preventing diseases, and promoting wellness.specialized treatments, 
                  surgeries, maternity services, and diagnostic tests.
                  They are usually well-equipped with modern technology and staffed by a diverse team of doctors, nurses,
                   and medical specialists to cater to various health needs.A hospital is a healthcare facility that provides 
                   treatment, care, and medical services to individuals who are ill, injured, or in need of medical attention. 
                   It is equipped with various medical departments and specialized staff, including doctors, nurses, and support 
                   staff, to ensure patients receive the necessary care. Hospitals typically offer emergency services, surgical
                    procedures, diagnostic tests, and inpatient or outpatient care. They play a vital role in public 
                   health by treating conditions, preventing diseases, and promoting wellness.

            </p>
            <a href="{% url 'about'%}"><button class="bt-non" style="background-color: rgb(89, 215, 89);color: white; border-radius: 6%; border: none;padding: 14px;">Learn More..</button></a>
    </div>
   
    <div class="doc"><img src="{% static '/images/doc.png' %}" alt=""></div>
    <hr>
  </div>
 
  
<div class="you" style="background-color:none;">
  <h3 style="text-align: center; font-size: 30px; padding-top: 20px; color: rgb(6, 43, 34);
   font-family: 'Times New Roman', Times, serif;padding-right: 238px;">Know CITY<span>
  Virtual Tour</span></h3>
  <br>
  <br>
  <iframe width="860" height="415" src="https://www.youtube.com/embed/DpgnWvGfRCc?si=l14t9CKT7vnkKlO8" 
  style="margin-left: 320px;margin-bottom: 70px;"></iframe>
</div>


<br><br>
<br>






 <div class="mob" style="display: none;">
  <h3 style="font-family: 'Times New Roman', Times, serif; padding-left: 20px;">City Hospital<hr></h3>

  <h6 style="font-family: 'Times New Roman', Times, serif;">
      Quick Links..
  </h6><br>

  <div>
      <a style="text-decoration: none; color: gray;" href="{% url 'about'%}">
          <p>>&nbsp;About..</p>
      </a>
      <a style="text-decoration: none; color: gray;" href="{% url 'booking'%}">
          <p>>&nbsp;Booking..</p>
      </a>
      <a style="text-decoration: none; color: gray;" href="{% url 'doctors'%}">
          <p>> &nbsp;Doctors..</p>
      </a>
      <a style="text-decoration: none; color: gray;" href="{% url 'department'%}">
          <p>> &nbsp;Departments..</p>
      </a>
      <a style="text-decoration: none; color: gray;" href="{% url 'contact'%}">
          <p>> &nbsp;Contact Us..</p>
      </a>
</div>
</div>

 
 <br>

 <div class="mobile-thumb">
<img class="image-thum" src="{% static '/images/doc.png' %}" alt="" width="100%" height="100%">
 </div>

 <div class="make"><a href="{% url 'booking'%}"><p>Make Appoinment</p></a></div>

 <div class="subhead" style="padding-left: 10px; color: rgb(8, 218, 8);"><h2 style="color: rgb(118, 43, 43);">City Hospital</h2>
<p style="font-size: small; padding-left: 60px;position: relative; top: -15px;">health&care</p>
<p style="position: absolute; font-size: 8px;color: gray;top:65px;padding-left: 10px;">24/7 emergency care with quick access to <br>trauma and life-saving services.
</p>
<p style="position: absolute; font-size: 8px;color: gray;top:100px;padding-left: 10px;">For non-emergency visits, consultations, and follow-up care.</p></div>
<div class="image-container">
  <img src="{% static 'images/new.png'%}">

</div>
<div class="mobem">
  <p><i class="fa fa-ambulance" style="font-size:35px;color:red"></i></p>
  <h4 style="text-decoration: none;font-family: 'Times New Roman', Times, serif;">Emergency Care</h4>
  
</div>
<br>
<br>
<br>


<div class="dec">


  <div class="dec-1">
    <h3><i style="font-size:24px;color: rgb(23, 10, 111);" class="fa">&#xf0f0;</i>
      Cardiology</h3>
    <p style="color: gray;">Cardiology is the branch of medicine that focuses on
       diagnosing, treating, and preventing heart and blood 
       vessel diseases. It involves a wide range of conditions, 
       including coronary artery disease, heart failure, arrhythmias (irregular heartbeats),
       valvular heart diseases, and congenital heart defects, among others.</p>
  </div>

  
  <div class="dec-1">
    <h3><i style="font-size:24px;color: rgb(23, 10, 111);" class="fa">&#xf0f0;</i>
      Neurology</h3>
    <p style="color: gray;">Neurology is the branch of medicine that
       focuses on the diagnosis, treatment, and management of disorders related
        to the nervous system, including the brain, spinal cord, nerves, and muscles. Neurologists
       are the specialists who deal with a wide range of neurological conditions.</p>
  </div>
  
  
  
  <div class="dec-1">
    <h3><i style="font-size:24px;color: rgb(23, 10, 111);" class="fa">&#xf0f0;</i>
      Urology</h3>
    <p style="color: gray;">Urology is the branch of medicine that focuses
       on the diagnosis, treatment, and management of disorders related to the urinary 
       system (kidneys, bladder, ureters, and urethra) and the male reproductive system 
       (penis, testes, prostate, and associated structures).
       Urologists are the medical professionals who specialize in this field.</p>
  </div>   

  
  
  <div class="dec-1">
    <h3><i style="font-size:24px;color: rgb(23, 10, 111);" class="fa">&#xf0f0;</i>
      Psychology</h3>
    <p style="color: gray;">Psychology is the scientific study of
       the mind and behavior. It seeks to understand how people think, feel, 
       and act, both individually and in groups. Psychologists examine mental processes, emotions, cognitive
       functions, social interactions, and the biological factors that influence behavior.</p>
  </div>   
  



  
  </div>




  <div>
    

  <div class="newq" style="background-color: rgb(7, 69, 34); padding-top: 50px;">
    <h4>Quick Links</h4>
    <ul>
    <li style="list-style-type: none;"><a href="{%url 'home'%}">Home</a></li>
    <li style="list-style-type: none;"><a href="{%url 'booking'%}">Booking</a></li>
    <li style="list-style-type: none;"><a href="{%url 'doctors'%}">Doctors</a></li>
    <li style="list-style-type: none;"><a href="{%url 'department'%}">Departments</a></li>
    <li style="list-style-type: none;"><a href="{%url 'about'%}">About</a></li>
    <li style="list-style-type: none;"><a href="{%url 'contact'%}">Contact Us</a></li>
  </ul>
  </div>

  </div>



  <div class="co" style="text-align: center; padding-top: 40px;position: absolute; margin-top: -345px;margin-left: 655px;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 49, 221); padding-bottom: 0px; letter-spacing: 2px;">Let Us Help You</p>
    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif ;">Have Queries Before The <br>
   Appoinment?</h3>
     <br>
     
   <h5 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Ph:07034136933<br>cityhospital@gmail.com</h5>
   </div>



 <style>
  @media(max-width: 400px){
    #carouselExampleDark{
      display: none;
    }
    .carousel{
      display: none;
    }
   .header-two{
    display: none;
   }
   .appoi{
    display: none;
   }
   .doc{
    display: none;
   }
   .you{
    display: none;
   }

   .last{
    display: none;
   }
   .mob{
    display: none;
   }
   .con{
    display: none;
   }
   .three{
    display: none;
   }
   .con{
    display: none;
   }
   .con-4{
    display: none;
   }

  }
 </style> 
{% endblock %}